gradio
tiktoken
requests[socks]
transformers
python-markdown-math
beautifulsoup4
latex2mathml
python-docx
mdtex2html
colorama
Markdown
pygments
pymupdf
openai
numpy
arxiv
pymupdf
BingImageCreator
certifi
httpx
prompt_toolkit
requests
rich
websockets
httpx[socks]
slack-sdk
